body {
    background-color: #F6F6F6;
}

.canvas {
    background-color: #111;
    display: block;
    margin: 3% auto;
}

.canvas--grid {
    background-image: linear-gradient(to right, transparent, transparent 99px, #222 99px, #222 101px),
                      linear-gradient(to bottom, transparent, transparent 99px, #222 99px, #222 101px);
    background-size: 101px 101px;
}
